* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
}

body {
    position: relative;
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

#backgroundTemplate {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100svh;
    object-fit: cover;
}

header {
    width: 100%;
    max-width: 680px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

h1 {
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-weight: bold;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.share-button svg {
    margin-left: 11.5px;
    margin-top: 11px;
    color: rgb(0, 0, 0);
}

.share-button:hover {
    transform: scale(0.9);
    transition: transform ease 0.2s;
}

.container {
    width: 100%;
    max-width: 680px;
    height: calc(100svh - 60px);
    margin: 0 10px;
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.image-container {
    width: 96px;
    height: 96px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 48px;
    object-fit: contain;
}

.tile {
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border: 2px solid white;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    margin: 4px 10px;
    width: 30px;
    height: 30px;
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}

.tile-share-button svg {
    margin-left: 11.5px;
    margin-top: 11px;
}

.tile:hover {
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}